<div class="container">
  <h2>Crear Tarea</h2>
    <form class="form-group" method="post" action="/new">
      <div class="form-group">
        <label for="title">Descripcion de la Tarea:</label>
        <input type="text" class="form-control" name="title" id="title">
      </div>
        <button onclick="pulsar()" type="submit" class="btn btn-success">Crear</button>
        <script languaje<SCRIPT languaje="JavaScript">
        function pulsar() {
          alert("Tarea creada de forma Exitosa");
          }
        </script>
  </div>
